<div class="form-margin-default">
  <h3>Usuários</h3>
  <button mat-stroked-button (click)="add()"><mat-icon>add</mat-icon></button>
  <div *ngFor="let user of data" class="cards">
    <mat-card class="card">
        <mat-card-title class="align-center">
            <mat-icon>person_pin</mat-icon>
            {{user._source.name}}
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
          </button>
        </mat-card-title>
          <mat-card-content>
            {{user._source.login}}
          </mat-card-content>
      <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="edit(user)"><mat-icon>edit</mat-icon>Editar</button>
          <button mat-menu-item (click)="remove(user)"><mat-icon>delete</mat-icon>Excluir</button>
      </mat-menu>
    </mat-card>
  </div>

</div>

