<h3>Dispositivo</h3>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput autofocus [(ngModel)]="device._source.name" name="name" placeholder="Nome do Dispositivo">
  </mat-form-field>

  <mat-form-field>
      <mat-label>Tipo de Dispositivo</mat-label>
      <mat-select [(value)]="device._source.type">
        <mat-option>None</mat-option>
        <mat-option value="Luz">Luz</mat-option>
      </mat-select>
    </mat-form-field>
    
    <p>You selected: {{selected}}</p>
    
  <app-list-component [components]="device._source.components"></app-list-component>

  <button mat-flat-button color="primary" (click)="submit()">Confirmar</button>
  <button mat-stroked-button (click)="cancel()">Cancelar</button>
</form>
